OPENAI_API_KEY=<YOUR_OPENAI_KEY_HERE>
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="franztaoheng@gmail.com"